@use 'variaveis';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: variaveis.$font-padrao;
    background-color: variaveis.$color-white;
    font-size: variaveis.$tamanho-font;
    line-height: 1.5;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main "
    "footer footer footer";
}