.header{
    background-color: rgb(0, 59, 185);
    padding: 1rem 2rem;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a{
    color: rgb(179, 179, 179);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.header__nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.header__nav a:hover {
    color: red;
    text-decoration: solid;
}