:root{
    --cor-principal: #4b98dc;
}

html{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 62.5%;
}

body{
    min-height: 100dvh;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--cor-principal);
}

.forms{
    width: 80%;
    max-width: 60rem;
    box-shadow: 0 0 8px 1px rgb(58, 58, 58);
    background-image: linear-gradient(to right, rgba(0,0,0, .3) 1rem, white 1rem);
}

.form_fiel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    padding: 3rem;
    margin: 0;
}

.form__title{
    font-size: 5rem;
    margin-top: 3rem;
    color: var(--cor-principal);
    font-weight: 100;
    padding-top: 3rem;
}

.form__label{
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 300;
}

.form__input{
    padding: .5rem 0;
    height: 3.5rem;
    font-size: 1.8rem;
    border: none;
    border-bottom: 2px solid var(--cor-principal);
    margin-bottom: .8rem;
    outline: none;
    transition: padding-left .1s
}

.form__input:focus{
    outline: 2px solid var(--cor-principal);
    padding-left: .3rem;
}

.btn{
    text-transform: uppercase;
    font-size:2rem;
    border-radius: 3px;
    border: none;
    outline: none;
    
    padding: 1rem 1.4rem;
    font-weight: 600;
    letter-spacing: .017rem;
}

.btn-primary{
    background-color: var(--cor-principal);
    color: white;
}

.btn-secundary{
    color: var(--cor-principal);
    text-decoration: none;
}

.form__action{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form__action__aside{
    font-size: 1.8rem;
    flex-grow: 1;
    text-align: right;
    color: rgb(74, 74, 74);
}

.form__action__aside a{
    text-decoration: none;
    color: inherit;
}