body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FED001;
    --dark-color: #2a2a2a;
    --light-color: #fafafa;
    --dark2-color: #003464;
}

html{
    font: 400 62.5% "Inter", sans-serif;
}

p, a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

nav a{
    color: inherit;
}

.upper{
    text-transform: uppercase;
}

.btn{
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: inherit;
}

.wrapperContainer{
    padding-top: 1px;
}

.wrapperContainer-dark{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.wrapperContainer-light{
    background-color: var(--light-color);
}

.wrapperContainer-dark2{
    background-color: var(--dark2-color);
    color: var(--light-color);
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.secrion_title{
    padding: 4.5rem 0;
    text-align: center;
    margin: 0;
}

.sectio_btn{
    margin: 7rem 0;
}

.hero_position{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_nav a{
    padding: .75em 1.15em;
    border: 1px solid;
    text-decoration: none;
}

.header_nav ul{
    display: flex;
    gap: .8rem;
    list-style-type: none;
}

.header_nav a:hover{
    background-color: black;
}

.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.hero_title{
    margin-bottom: 4rem;
}

.wrapperContainer-hero{
    background-image: linear-gradient(transparent, rgb(255, 227, 104));
}

.cursos{
    text-align: center;
}

.cursosContainer{
    display: flex;
    text-align: left;
    gap: 2rem;
}

.curso_card{
    flex: 1;
}

.curso_card img{
    display: block;
    width: 100%;
}

.curso_card h3{
    font-size: 2.4rem;
}

.curso_card p{
    font-size: 1.8rem;
    line-height: 1.5em;
}

.cursos_card_content{
    padding: 2rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    border-top: transparent;
}

.escola{
    display: flex;
    gap: 6rem;
    padding-top: 6rem;
}

.escola h2{
    font-size: 3.2rem;
    margin-top: 3rem;
}

.escola p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.contatos_adress{
    text-align: right;
    font: 400 1.8rem "Inter", sans-serif;
    padding: 3rem 0;
}

.footer{
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
}