main{
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.5);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
}