.card {
    background-color: rgb(54, 54, 54);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.02);
}

.card__tile{
    font-size: 1.1rem;
    color: white;
    margin: 0 0 0.5rem 0;
}

.card__info{
    padding: 1rem;
}

.card__description{
    font-size: 1.1rem;
    color: #aaa;
}

.card__poster{
    width: 100%;
    display: block;
}