.h2{
    font-size: 1.8rem;
    color: rgb(51, 51, 51);
    margin: .5em 0;
}

.ul{
    margin: 1.5em 0;
}

.li{
    font-size: 1.2rem;
    color: rgb(51, 51, 51);
    margin: .5em 0;
    list-style: none;
}