:root{
   --primary-color: #004eda;
   --grey: #f2f2f8;
   --default-padding: 2rem;
   --black: #111;
   --color-text: #5a5a5f;
}

body{
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 4rem minmax(calc(100dvh - 4rem), auto);
    margin: 0;
    color: var(--color-text);
}

img{
    max-width: 100%;
}

.mainNav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 100dvh;
    position: sticky;
    top: 0;
    padding-right: var(--default-padding);
}

.topNav{
    grid-row: 1/2;
    grid-column: 2/ -1;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: var(--grey);

    display: grid;
    gap: var(--default-padding);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    padding: var(--default-padding);
}

main > * {
    grid-column: span 2;
}

main > .grid-half{
    grid-column: span 1;
}

main > figure{
    margin: 0;
}

.mainNav_linkLogo{
    padding-left: var(--default-padding);
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: var(--default-padding);
    display: inline-block;
}

.mainNav_menu, .topnav_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: var(--default-padding);
}

.mainNav_menu a, .topnav_menu a{
    text-decoration: none;
    color: #5a5a5f;
}

.mainNav_menu svg, .topnav_menu svg{
    vertical-align: bottom;
}

.topnav_menu{
    display: flex;
    gap: var(--default-padding);
    
}

.mainNav_menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

.mainNav_menu li{
    margin-top: 1rem;
}

.mainNav_menu:last-child{
    padding-bottom: var(--default-padding);
}

.perfil{
    margin-right: var(--default-padding);
    display: flex;
    height: 100%;
    align-items: center;
}

.perfil-thumb{
    height: 100%;
    padding: .5rem 0;
    margin-right: calc(var(--default-padding) / 2);
    box-sizing: border-box;
    img{
        height: 100%;
    }
}

.perfil_name{
    font-size: .8rem;
    font-weight: 600;
    color: var(--black);
}

.perfil_rule{
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--grey), trasparent 60%);
}

.summary{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--default-padding) / 2) var(--default-padding);
    border-radius: 4px;
}

.summary article{
    padding: calc(var(--default-padding) / 2) 0;
}

.summary .number{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-left: calc(var(--default-padding) / 2);
}

.separated{
    width: 2px;
    background-color: var(--grey);
    align-self: stretch;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: calc(var(--default-padding) / 4) var(--default-padding) ;
}

.summary .btn{
    align-self: stretch;
    display: flex;
    align-items: center;
}