:root{
   --primary-color: #004eda;
   --grey: #f2f2f8;
   --default-padding: 2rem;
}

body{
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
    margin: 0;
}

img{
    max-width: 100%;
}

.mainNav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.topNav{
    grid-row: 1/2;
    grid-column: 2/ -1;
}

main{
    grid-row: 2 / -1;
    grid-column: 2 ยน -1;
}

.mainNav_linkLogo{
    padding-left: var(--default-padding);
    color: #111111;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: var(--default-padding);
    display: inline-block;
}

.mainNav_menu, .topnav_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: var(--default-padding);
}

.mainNav_menu a, .topnav_menu a{
    text-decoration: none;
    color: #5a5a5f;
}

.mainNav_menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

.mainNav_menu:last-child{
    padding-bottom: var(--default-padding);
}