*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    font-size: 1rem;
    line-height: 1.5;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main "
    "footer footer footer";
}

header{
    grid-area: header;
    background-color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    margin-right: 10rem;
}

ul li{
    display: inline-block;
    margin: 0 1rem;
}
a{
    text-decoration: none;
    color: #d16262;
    padding: 1rem;
}

a:hover{
    background-color: #1565c0;
}

span{
    margin-left: 10rem;
    font-size: 2rem;
    text-decoration: dotted;
    text-transform: uppercase;
    font-style: italic;
    color: #d16262;
}


main{
    grid-area: main;
    width: 100%;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: white;
    border-radius: 0.5rem;
}

section{
    width: 90%;
    margin: 2rem 0;
}

footer{
    grid-area: footer;
    background-color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: #333;
    text-align: center;
    font-size: 1.75rem;
}

.content{
    display: flex;
    gap: 1rem;
}

.content__card{
    background-color: #d16262;
    padding: 1rem;
    border-radius: 1rem;
}

.content__card p{
    color: white;
}

footer{
    padding: 5rem;
}

@media (max-width: 600px) {
body{
    font-size: .6rem;
    line-height: 1.5;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    height: 4rem;
}

nav{
    margin-right: 2rem;
}

    h1{
        font-size: 1.25rem;
        color: #d32f2f;
    }

    main{
        width: 95%;
        padding: 0.625rem;
    }

.content{
    gap: 1rem;
    flex-direction: column;
}

.content__card p{
    color: white;
}

footer{
    padding: 5rem;
}
}


@media (min-width: 601px) and (max-width: 900px){
    body{
        background-color: #e8f5e9;
    }

    h1{
        color: #2e7d32;
        font-size: 1.5rem;
    }

    main{
        width: 90%;
    }
    nav{
    margin-right: .5rem;
}

footer{
    padding: 2rem;
    gap: 1rem;
}
}

@media (min-width: 901px){
    body{
        background-color: #e3f3fd;
    }

    h1{
        color: #1565c0;
        font-size: 1.75rem;
    }

    main{
        width: 70%;
        max-width: 62.5rem;
    }
}