html{
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

form{
    width: 90%;
    min-width: 28.125em;
    max-width: 35em;
    background-color: #0e1010;
    padding: 1rem;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

label,
input,
textarea,
button{
    box-sizing: border-box;
    display: block;
    width: 100%;
}

input, textarea{
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: .75em;
    margin: .5em 0 2.5em;
    outline: 0;
    color: white;
}
input:invalid:focus, textarea:invalid:focus{
    border-bottom: 2px solid red;
}

input:valid:focus, textarea:valid:focus{
    border-bottom: 2px solid green;
}

/* input:valid, textarea:valid{
    background-color: green;
} */

input:focus, textarea:focus{
    border-bottom: 2px solid rgb(189, 189, 189);
    background-color: rgb(60, 60, 60);
}



legend{
    padding: .5em;
    text-align: center;
    font-weight: bold;
    color: #8e999a;
}

.btn{
    background-color: #2a2727;
    color: white;
    cursor: pointer;
    padding: 1em;
    font-size: 1.2em;
    border: none;
}