html,
body{
    min-height: 100%;
}

body{
    margin: 0;
    background-color: #ccc;
    background-image: url("ProjetoCSS-flexbox-desafio/imagens/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: auto;
    width: 100%;
}

.hero-content{
    margin: 100px auto 0px;
    width: 80%;
    color: white;
    text-align: center;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    margin-top: 70px;
    margin-bottom: 0;
}

.hero-content p{
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.548);
    border-bottom: solid 2px white;
    padding: 16px;
    display: inline-block;
}

.content-section{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    gap: 16px;
    padding: 16px;
    background-color: white;
}

.card{
    flex-basis: 250px;
    flex-grow: 1;

}

.card img{
    width: 100%;
    display: block;
}

.card p{
    background-color: #393535;
    color: white;
    margin: 0;
    padding: 8px;
}