.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.buttonSec{
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #b4b4b4;
    color: rgb(80, 80, 80);
    border-radius: 4px;
    cursor: pointer;
}

.buttonSec:hover{
    background-color: #313131;
    color: rgb(196, 196, 196);
}

.lista{
    list-style: none;
    padding: 0;
}