.form{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.form__login{
    display: block;
    width: 100%;
    margin: 1em 0;
    height: 32px;
    font-size: 21px;
    color: rgb(90, 90, 90);
}

.login__btn{
    height: 32px;
    width: 60%;
    font-size: 21px;
    border: none;
}

.login__btn:hover{
    box-shadow: 0px 2px 5px 2px rgba(95, 95, 95, 0.514);
}